@import '../variables';


.pagination__container {
  display: flex;
  list-style-type: none;

  .pagination__item {
    padding: 0 12px;
    height: 2rem;
    text-align: center;
    margin: auto 0.4rem;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    box-sizing: border-box;
    align-items: center;
    letter-spacing: 0.01071em;
    line-height: 1.43;
    font-size: 13px;
    min-width: 2rem;

    &.dots:hover {
      background-color: transparent;
      cursor: default;
    }
    &:hover {
      color:map-get($colors, "primary-blue" );
      cursor: pointer;
    }

    &.selected {
      border-bottom: 1px solid map-get($colors, "primary-blue" );
      color:map-get($colors, "primary-blue" );
      
    }

    .arrow {
      &::before {
        position: relative;
        content: '';
        display: inline-block;
        width: 0.4em;
        height: 0.4em;
        border-right: 0.12em solid rgba(0, 0, 0, 0.87);
        border-top: 0.12em solid rgba(0, 0, 0, 0.87);
      }

      &.left {
        transform: rotate(-135deg) translate(-50%);
      }

      &.right {
        transform: rotate(45deg);
      }
    }

  
  }
}

.disabled {
  display: inline-block;
  pointer-events: none;
  background-color: transparent;
  cursor: default;
  .arrow::before {
    border-right: 0.12em solid rgba(0, 0, 0, 0.43);
    border-top: 0.12em solid rgba(0, 0, 0, 0.43);
  }

}